<!DOCTYPE html>
<html lang="en-US" class="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'autoptimize', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'autoptimize2', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'autoptimize3', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'autoptimize4', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'fonts_googleapis', media: 'all', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="/assets/user/main-core.css">
  <link rel="stylesheet" href="/assets/user/fonts.css">
  <link rel="stylesheet" href="/assets/user/google-fonts.css">
  <link rel="stylesheet" href="/assets/user/font-awesome.min.css">
  
  <link rel="icon" href="/assets/favicon-32x32.png" sizes="32x32">
  <link rel="icon" href="/assets/favicon-192x192.png" sizes="192x192">
  <link rel="apple-touch-icon-precomposed" href="/assets/favicon-180x180.png">
  <meta name="msapplication-TileImage" content="/assets/favicon-270x270.png">
</head>

<body data-rsssl=1 class="home page-template-default page page-id-3794 wp-embed-responsive theme-billey woocommerce-no-js anonymous desktop desktop-menu mobile-menu-push-to-left woocommerce one-page header-sticky-both wide page-with-spacing page-has-no-sidebar elementor-default elementor-page elementor-page-3794"  data-site-width="1200px" data-content-width="1200" data-font="CerebriSans, sans-serif Helvetica, Arial, sans-serif" data-header-sticky-height="80">

<div id="page-preloader" class="page-loading clearfix">
  <div class="page-load-inner">
    <div class="preloader-wrap">
      <div class="wrap-2">
        <div class="inner">
          <div class="sk-wrap sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="page" class="site">
  <div class="content-wrapper">
    <%= render partial: "/layouts/header" %>

    <%= yield %>
  </div><!-- /.content-wrapper -->
</div><!-- /.site -->

<!--menu on mobile -->
<div id="page-mobile-main-menu" class="page-mobile-main-menu">
  <div class="inner">
    <div class="page-mobile-menu-header">
      <div class="page-mobile-popup-logo page-mobile-menu-logo">
        <a href="/" rel="home">
          SWITCHAPP
        </a>
      </div>
      <div id="page-close-mobile-menu" class="page-close-mobile-menu">
        <div class="burger-icon burger-icon-close">
          <span class="burger-icon-top"></span>
          <span class="burger-icon-bottom"></span>
        </div>
      </div>
    </div>

    <div class="page-mobile-menu-content">
      <ul id="mobile-menu-primary" class="menu__container">
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4127 level-1"><a href="#section-hero"><div class="menu-item-wrap"><span class="menu-item-title">Intro</span></div></a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3876 level-1"><a href="#section-home-showcase"><div class="menu-item-wrap"><span class="menu-item-title">Demos</span></div></a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3879 level-1"><a href="#section-portfolio-showcase"><div class="menu-item-wrap"><span class="menu-item-title">Portfolio</span></div></a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3880 level-1"><a href="#section-shop-showcase"><div class="menu-item-wrap"><span class="menu-item-title">Shop</span></div></a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3878 level-1"><a href="#section-blog-showcase"><div class="menu-item-wrap"><span class="menu-item-title">Blog</span></div></a></li>
      </ul>
    </div>
  </div>
</div>

<script>
    var $billey = {"ajaxurl":"","header_sticky_enable":"1","header_sticky_height":"80","scroll_top_enable":"1","light_gallery_auto_play":"0","light_gallery_download":"1","light_gallery_full_screen":"1","light_gallery_zoom":"1","light_gallery_thumbnail":"1","light_gallery_share":"1","mobile_menu_breakpoint":"1199"};
    var ElementorProFrontendConfig = {"ajaxurl":""};
    var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"version":"2.8.5","urls":{"assets":"https:\/\/billey.thememove.com\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"general":{"elementor_stretched_section_container":"#page"},"editorPreferences":[]},"post":{"id":3794,"title":"Landing","excerpt":""}};
</script>

<%= javascript_include_tag 'application'%>
</body>
</html>
